.mood-card {

  background: #dff8e7;

  padding: 15px;

  margin: 10px;

  border-radius: 20px;

  width: 250px;

  text-align: center;

  font-size: 20px;

  box-shadow:
    0 4px 10px rgba(0,0,0,0.05);
}